.post{
    flex:6;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
}
.postImg{
    height: 500px;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}
.postInfo{
    display: flex;
    flex-direction: column;
}
.postName{
    position: absolute;
    top: 18%;
    font-size: 50px;
    margin-left: 50px;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    font-family: 'Lora', serif;
    margin-top: 80px;
}
.postAuthor{
    position: absolute;
    top: 20%;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    margin-left: 320px;
    margin-top:480px;
}
